@section styles
{
    @*<link href="~/Content/Sidebar.css" rel="stylesheet" />*@
    @*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>*@
    @*   <script src="//cdn.jsdelivr.net/jquery.ui-contextmenu/1.7.0/jquery.ui-contextmenu.min.js"></script>*@

    <link href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*  <link href="//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css" rel="stylesheet" />*@
   @* <link href="~/Content/dataTables.colVis.css" rel="stylesheet" />*@
    @*<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/south-street/jquery-ui.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/FancyTree/skin-xp/ui.fancytree.css" rel="stylesheet" />

}
<script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,geometry"></script>

<!-- Start of cuahsi Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed || function (e, t) {
var n, o, d, i, s, a = [],
    r = document.createElement("iframe"); window.zEmbed = function ()
    { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false",
    r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none",
    d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d),
    i = r.contentWindow, s = i.document; try { o = s } catch (c) {
        n = document.domain,
            r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
    } o.open()._l = function () {
        var o = this.createElement("script"); n && (this.domain = n),
            o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
    }, o.write('<body onload="document._l();">'), o.close()
}("//assets.zendesk.com/embeddable_framework/main.js", "cuahsi.zendesk.com");/*]]>*/</script>
<!-- End of cuahsi Zendesk Widget script -->

<div class="_container">
    <div class="row">
        <div id="pageloaddiv"></div>
        <div id="tabSelector" class=""></div>

        <ul class="nav nav-tabs" id="myTab">
            <li class="active navbar-custom"><a href="#map" id="mapTab" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Map</a></li>
            @*   <li class="navbar-custom disabled"><a href="#graph" id="graphTab" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Graph</a></li>*@
            <li class="navbar-custom data"><a href="#dataview" id="tableTab" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Data</a></li>
            <li class="btn-separator"></li>
            <!-- li class="glyphicon glyphicon-option-vertical"></li -->
            <li class="navbar-custom"><a href="" id="downloadmanagerTab" data-toggle="modal" data-target="#dmModal"><span class="glyphicon glyphicon-cloud-download"></span> Download Manager</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="dataview">
            <div class="modal-header-full">
                <h3 class="modal-title" id="myModalLabel">Timeseries in Current Map Area</h3>
                <h5 style="margin-bottom: 1em;">To zip one or more data files, please click the associated table row(s) and then click the 'Zip Selections' button.</h5>
            </div>
            <table id="dtTimeseries" class="display" cellspacing="0">
                <thead>
                    <tr>
                        @Html.Partial("_DatatableTimeseriesColumns")
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        @Html.Partial("_DatatableTimeseriesColumns")
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="tab-pane active" id="map">
            <!-- Right panel -->
            <div id="slider" class="side-panel side-panel-right">
                <div id="menu">
                    @*   <div><img class="expander" alt="Expand" src="~/Content/Images/closetop.png" /></div>*@
                    <div class="" id="selectors">
                        <form id="Search" class="searchForm ">
                            <!-- Button trigger modal -->
                            <fieldset>
                                <legend style="margin-bottom: 0.5em;">
                                    <button class="btn btn-primary btn-block" id="btnDateRange" data-toggle="modal" data-target="#SelectDateModal">Select Date Range</button>
                                </legend>
                              

                                <div style="width:40px;display:inline-block;vertical-align:top;font-weight:bold;margin-left:0.5em">From: </div>
                                <div style="display:inline-block;">
                                    <div style="display:inline-block;">
                                        <input disabled type="text" style="margin:0;padding:0;" size="12" readonly id="startDate" />  <br />                                        
                                    </div>
                                    
                                </div> 
                                <div style="width:40px;display:inline-block;vertical-align:top;font-weight:bold;margin-left:0.5em">To: </div>
                                <div style="display:inline-block;">
                                    <div style="display:inline-block;">
                                        <input disabled type="text" style="margin:0;padding:0;" size="12" readonly id="endDate" />  <br />
                                    </div>
                                </div>      
                            </fieldset>
                            <fieldset style="margin-top: 1em;">
                                <legend style="margin-bottom: 0.25em;">
                                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#SelectVariableModal">Select Concepts(s)</button>
                                </legend>
                                <div style="overflow-y: scroll; max-height: 20em;">
                                    <ol id="olConcepts" style="list-style: circle;">
                                        <li>All</li>
                                    </ol>
                                </div>
                            </fieldset>
                            <fieldset style="margin-top: 1em;">
                                <legend style="margin-bottom: 0.25em;">
                                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#SelectServicesModal">Select Services(s)</button>
                                </legend>
                                @*<div style="overflow-y: scroll; max-height: 10em;">*@
                                <div style="max-height: 10em;">
                                    <ol id="olServices" style="list-style: circle;">
                                        <li>All</li>
                                    </ol>
                                </div>
                            </fieldset>

                            <div id="SelectedDateRange">

                            </div>
                            <br />
                            <!-- For click handler see webclient.js $("#Search").submit(function (e) -->
                            <button type="submit" class="btn btn-success btn-block">Search Map</button><br />
                            <button id="clear" type="button" class="btn btn-warning btn-block"> Clear map </button>


                        </form>
                    </div>
                </div>
            </div>

            <div class="_row">
                <div class="map">
                    <div id="map-canvas">

                    </div>

                    <input id="pac-input" class="searchbarcontrols" type="text"
                           placeholder="Enter a location" />
                    <div id="type-selector" class="searchbarcontrols hidden">
                        <input type="radio" name="type" id="changetype-all" checked="checked">
                        <label for="changetype-all">All</label>

                        @*<input type="radio" name="type" id="changetype-establishment">
                            <label for="changetype-establishment">Establishments</label>

                            <input type="radio" name="type" id="changetype-address">
                            <label for="changetype-address">Addresses</label>*@

                        <input type="radio" name="type" id="changetype-geocode">
                        <label for="changetype-geocode">Geocodes</label>
                    </div>

                    @*<h1 id="home">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify ">
                                <i class="fa fa-bars"></i>
                            </a>

                        </h1>*@
                </div>

            </div>
        </div>
        <div class="tab-pane" id="graph">A timeseries viewer will be available soon!</div>
    </div>
</div>
@*</div>*@

<!-- Modal -->
<!-- Modal dialog for Download Manager... -->
<div class="modal fade full-screen" id="dmModal" tabindex="-1" role="dialog" aria-labelledby="dmModalLabel" aria-hidden="true" style="z-index: 2000000000000000;">
    <div class="modal-dialog-full">
        <div class="modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <label style="float:right; margin-right: 2em"><input type="checkbox" id="chkbxAutoDownload" checked="checked" />&nbsp;Auto Download Archives?</label>
                <h3 class="modal-title" id="myModalLabel">Download Manager</h3>
            </div>
            <div class="modal-body-full">
                <!-- BCC - Try a dynamically sized font here...
                     Source: http://stackoverflow.com/questions/14537611/bootstrap-responsive-text-size
                -->
                @*<table id="tblDownloadManager" class="table table-hover table-fixed" style="font-size: 1.5vmin; margin: 0 auto;">*@
                @*<table id="tblDownloadManager" class="table table-hover table-fixed" style="font-size: 2.0vmin;">*@
                <table id="tblDownloadManager" class="table table-hover table-fixed" style="font-size: 2.0vmin;">
                    <thead>
                        <tr class="active">
                            <th class="text-center" style="display: none; vertical-align: middle;">Request ID</th>
                            <th class="text-center" style="width: 15%; vertical-align: middle;">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;">Task Id</label>
                            </th>
                            <th class="text-center" style="width: 25%; vertical-align: middle;">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;">Processing Status</label>
                            </th>
                            <th class="text-center" style="width: 43%; vertical-align: middle;">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;">Time Series Archive</label>
                            </th>
                            <th class="text-center" style="width: 12%; vertical-align: middle !important;">
                                <input type="button" class="btn btn-primary text-center" id="btnDownloadAll" style="font-size: 1em; margin: 0 auto;" value="Download All Archives" />
                            </th>
                            @*<th style="width: 2%">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;"></label>
                           </th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        @*<tr>
                                <td>Footer text goes here</td>
                            </tr>*@
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <!--p>This is the modal footer!!</p-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SelectDateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Please select your date range:</h3>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="input-daterange">
                            <input class="input-msclear" id="startDateModal"  />
                            <span class="add-on">to</span>
                            <input class="input-msclear" id="endDateModal" />                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" id="btnDateRangeModalSave" class="btn btn-default btn-primary" data-dismiss="modal">Save</button></div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="SelectVariableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Please select your Keyword(s)</h3>
                <h6>(No selection searches all)</h6>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="tabbable">
                        <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Most Common</a></li>
                            <li><a href="#tab2" data-toggle="tab">Full List</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active  id="tab1">
                                <div class="row">
                                    <div class="controls col-lg-4">

                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Discharge, stream" id="inlineCheckbox2" class="topCategories"> Discharge
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Precipitation" id="inlineCheckbox12" class="topCategories"> Precipitation
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Water Level" id="inlineCheckbox3" class="topCategories"> Water Level
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Groundwater Level" id="inlineCheckbox4" class="topCategories"> Groundwater Level
                                        </label>
                                        @*<label class="checkbox">
                        <input type="checkbox" name="keywords" value="dissolved solids, total" id="inlineCheckbox5" class="topCategories"> Total Dissolved Solids
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="keywords" value="Methane" id="inlineCheckbox6" class="topCategories"> Methane
                    </label>*@
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Temperature, Air" id="inlineCheckbox7" class="topCategories">	Air Temperature
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Temperature, Water" id="inlineCheckbox8" class="topCategories"> Water Temperature
                                        </label>

                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Evaporation, actual" id="inlineCheckbox1" class="topCategories"> Actual Evaporation
                                        </label>
                                    </div>

                                    <div class="controls col-lg-4">
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Nutrient" id="inlineCheckbox9" class="topCategories">	Nutrient
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Oxygen, dissolved" id="inlineCheckbox10" class="topCategories"> Dissolved Oxygen
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="pH" id="inlineCheckbox11" class="topCategories">pH
                                        </label>

                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Specific Conductance" id="inlineCheckbox13" class="topCategories">	Specific Conductance
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Snow Water Equivalent" id="inlineCheckbox14" class="topCategories"> Snow Water Equivalent
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Soil Moisture" id="inlineCheckbox15" class="topCategories"> Soil Moisture
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Solids, total suspended" id="inlineCheckbox16" class="topCategories">	Total Suspended Solids
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnTopSelect" class="btn btn-default btn-primary" data-dismiss="modal">Save</button>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab2">
                                <p>
                                    <label>Filter:</label>
                                    <input name="search" placeholder="Filter...">
                                    <button id="btnResetSearch">&times;</button>
                                    <span id="matches"></span>
                                </p>
                                @*<p>
                                        <label for="hideMode">
                                            <input type="checkbox" id="hideMode">
                                            Hide unmatched nodes
                                        </label>
                                        <label for="leavesOnly">
                                            <input type="checkbox" id="leavesOnly">
                                            Leaves only
                                        </label>

                                        <label for="regex">
                                            <input type="checkbox" id="regex">
                                            Regular expression
                                        </label>
                                    </p>
                                    <p id="sampleButtons">
                                    </p>*@


                                <div id="tree" data-source="ajax" class="sampletree">


                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnHierarchySelect" class="btn btn-default btn-primary" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!-- Modal -->
<div class="modal fade full-screen" id="SelectServicesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-full">
        <div class="modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Click to select Data Services (No selection searches all)</h3>
                <input type="checkbox" name="checkOnlyObservedValues" id="checkOnlyObservedValues" class="" data-inline="true" data-mini="true" /><label for="checkOnlyObservedValues">Exclude Gridded data services ()</label>                                         

            </div>
            <div class="modal-body-full">
                <table id="dtServices" class="display" cellspacing="0" >
                    <thead>
                        <tr>
                            @Html.Partial("_DatatableDataservicesColumns")
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            @Html.Partial("_DatatableDataservicesColumns")
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelServiceSelection" class="btn btn-default alert-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveServiceSelection" class="btn btn-default btn-primary" data-dismiss="modal">Save Selection</button>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<div class="modal fade full-screen" id="SeriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-full">
        <div class="modal-content-full">
            <div class="modal-header-full">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <!--button type="button" id="seriesModal-DM" style="float: right; margin-right: 2em; color: #428bca;"><span class="glyphicon glyphicon-cloud-download"></span> Download Manager</button -->
                <a href="" id="seriesModal-DM" data-toggle="modal" data-target="#dmModal" style="float: right; margin-right: 2em;"><span class="glyphicon glyphicon-cloud-download"></span> Download Manager</a>
                <h3 class="modal-title" id="myModalLabel">List of Timeseries in area</h3>
                <h5 style="margin-bottom: 1em;">To zip one or more data files, please click the associated table row(s) and then click the 'Zip Selections' button.</h5>
            </div>
            <div class="modal-body-full">
                <table id="dtMarkers" class="display" cellspacing="0">
                    <thead>
                        <tr>                           
                            @Html.Partial("_DatatableTimeseriesColumns")
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            @Html.Partial("_DatatableTimeseriesColumns")
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer-full">
                @*<span>
                        @Html.ActionLink("Download as CSV", "downloadFile", "Export", new { id = 1 }, new { @class = "btn btn-info active pull-right", target = "_blank" })
                    </span>
                    <button id="DownloadAsCSV" type="button" class="btn btn-default">Download Selected as CSV</button>*@
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

@*<div id="context-menu">
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" id="DownloadAsCSV" href="#">Download as CSV</a></li>
            <li><a tabindex="-1" href="#">Add to DataCart</a></li>
        </ul>
    </div>*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>*@

<script src="~/Scripts/Google/markerwithlabel.js"></script>
@*<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>*@
<script src="~/Scripts/jquery.dataTables.js"></script>
@*<script src="//cdn.datatables.net/colvis/1.1.1/js/dataTables.colVis.min.js"></script>*@


@*<script src="~/Scripts/Google/keydragzoom_packed.js"></script>*@
@*<script src="~/Scripts/bootstrap-contextmenu.js"></script>*@
<script src="~/Scripts/Custom/webclient.js"></script>
<script src="~/Scripts/Custom/randomId.js"></script>
<script src="~/Scripts/Custom/freezeEnum.js"></script>
<script src="~/Scripts/Custom/TimeSeriesRequestStatus.js"></script>
<script src="~/Scripts/Fancytree/jquery-ui.custom.js"></script>
<script src="~/Scripts/Fancytree/jquery.fancytree.js"></script>
<script src="~/Scripts/Fancytree/jquery.fancytree.filter.js"></script>
<script src="~/Scripts/Fancytree/jquery.fancytree.childcounter.js"></script>
<script src="~/Scripts/Fancytree/sample.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Custom/jquery-filedownload.js"></script>
<script src="~/Scripts/jquery.slidereveal.min.js"></script>
