<!-- Start of cuahsi Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed || function (e, t) {
var n, o, d, i, s, a = [],
    r = document.createElement("iframe"); window.zEmbed = function ()
    { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false",
    r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none",
    d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d),
    i = r.contentWindow, s = i.document; try { o = s } catch (c) {
        n = document.domain,
            r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
    } o.open()._l = function () {
        var o = this.createElement("script"); n && (this.domain = n),
            o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
    }, o.write('<body onload="document._l();">'), o.close()
}("//assets.zendesk.com/embeddable_framework/main.js", "cuahsi.zendesk.com");/*]]>*/</script>
<!-- End of cuahsi Zendesk Widget script -->

<div class="_container">
    <div class="row">
        <div id="pageloaddiv"></div>
        <div id="tabSelector" class=""></div>

        <div class="nav navbar navbar-inverse navbar-fixed-top" style="min-width: 70em;">
            @*<img class="img-responsive pull-left" src="~/Content/Images/beta.png" />*@
            <img class="img-responsive pull-left" src="~/Content/Images/cuahsi_logo_small.png" />

            <ul class="nav nav-tabs pull-right" @*id="myTab"*@ @*style="display: inline-block; position: relative; float:right;"*@>
                <li class="active navbar-custom"><a href="#map" id="mapTab" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Map</a></li>
                @*   <li class="navbar-custom disabled"><a href="#graph" id="graphTab" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Graph</a></li>*@
                <li class="navbar-custom data"><a href="#dataview" id="tableTab" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Data</a></li>
                <li class="btn-separator"></li>
                <li class="navbar-custom"><a href="" id="downloadmanagerTab" data-toggle="modal" data-target="#dmModal"><span class="glyphicon glyphicon-cloud-download"></span> Download Manager</a></li>
                <li class="btn-separator"></li>
                <li class="navbar-custom"><a href="" id="contactTab" data-toggle="modal" data-target="#contactModal"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
                <li class="btn-separator"></li>
                <li class="navbar-custom" style="margin-right: 1em;"><a href="" id="aboutTab" data-toggle="modal" data-target="#aboutModal"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
            </ul>

        </div>
    </div>

    <div class="tab-content">
        <!--BCC - 29-Jun-2015 - QA Issue #24 - Data tab (GUI): no margins from left and right (need to increase)
                                Added 1.0em left and right margins to 'data' tab -->
        <div class="tab-pane" id="dataview" style="margin-left: 1.0em; margin-right: 1.0em;">
            <div class="modal-header-full">
                <h3 class="modal-title" id="myModalLabel">Timeseries in Current Map Area</h3>
                <h5 style="margin-bottom: 1em;">To download one or more data files, please click the associated table row(s) and click the 'Process Selections' button.</h5>
            </div>
            <div class="modal-body-full disable-selection" id="dtTimeSeriesModal">
            @* BCC- 23-Jul-2015 - To ensure the horizontal scroll bar appears in Apple Safari running under OS X, set max-width: none on the table element!!
               NOTE: This 'more specific' setting overrides 'max-width: 100%' as set for the <table> element in bootstrap.css (line 1407)
               Source: http://stackoverflow.com/questions/30500857/overflow-xauto-not-working-in-safari-and-firefox
            *@
            <table id="dtTimeseries" class="display" cellspacing="0" style="max-width: none;">
                <thead>
                    <tr>
                        @Html.Partial("_DatatableTimeseriesColumns")
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        @Html.Partial("_DatatableTimeseriesColumns")
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
        <div class="tab-pane active" id="map">
            <!-- Right panel -->
            <!-- BCC - 30-Jun-2015 - QA Issue #34 - General GUI: no scroll bar when reduce page size (menu items can become unavailable) -->
            <div id="slider" class="side-panel side-panel-right" style="overflow-y: auto;">
                <div id="menu">
                    @*   <div><img class="expander" alt="Expand" src="~/Content/Images/closetop.png" /></div>*@
                    <div class="container" id="selectors">
                        <form id="Search" class="searchForm form-horizontal" >
                            <!-- Button trigger modal -->
                            <div class="form-group">
                            <fieldset>
                                <legend style="margin-bottom: 0.5em;">
                                        @*<button class="btn btn-primary btn-block" id="btnDateRange" style="width: 90%; margin: 0 auto;" data-toggle="modal" data-target="#SelectDateModal">Select Date Range...</button>*@
                                    <button class="btn btn-primary btn-block" id="btnDateRange" style="margin: 0 auto;" data-toggle="modal" data-target="#SelectDateModal">Select Date Range...</button>
                                </legend>
                                    <div class="non-modal-inputs">
                                        <div id="grpStartDate" class="form-group" style="margin-bottom: 0em;">
                                            <label class="control-label col-sm-2 col-sm-offset-1" for="startDate" id="lblStartDate">From: </label>
                                            <div class="col-sm-7">
                                                <input id="startDate" class="form-control default-cursor" type="text" style="margin-left: 0.5em;" readonly="readonly" />
                                                <label id="lblStartDateError" class="help-block" style="display:none;"></label>
                                            </div>
                                        </div>
                                        <div id="grpEndDate" class="form-group">
                                            <label class="control-label col-sm-2 col-sm-offset-1" for="endDate" id="lblEndDate">To: </label>
                                            <div class="col-sm-7">
                                                <input id="endDate" class="form-control default-cursor" type="text" style="margin-left: 0.5em;" readonly="readonly" />
                                                <label id="lblEndDateError" class="help-block" style="display:none;  margin-left: 0.5em;"></label>
                                            </div>
                                </div>
                                    </div>
                            </fieldset>
                            </div>
                            <div class="form-group" style="box-sizing: border-box;">
                                <fieldset>
                                <legend style="margin-bottom: 0.25em;">
                                    @*<button class="btn btn-primary btn-block" id="btnSelectKeywords" style="width: 90%; margin: 0 auto;" data-toggle="modal" data-target="#SelectVariableModal">Select Keyword(s)...</button>*@
                                    @*<button class="btn btn-primary btn-block" id="btnSelectKeywords" style="margin: 0 auto;" data-toggle="modal" data-target="#SelectVariableModal">Select Keyword(s)...</button>*@
                                    @*<button class="btn btn-primary btn-block" type="button" id="btnSelectKeywords" disabled style="margin: 0 auto;">Select Keyword(s)...</button>*@
                                    <button class="btn btn-primary btn-block" type="button" id="btnSelectKeywords" disabled style="margin: 0 auto;">
                                        <h4 class="text-center" style="display: inline; vertical-align: middle;">
                                            <span id="glyphiconSpanSK" class="glyphicon glyphicon-refresh spin" style="color: #32cd32;"></span>
                                        </h4>
                                        Loading Keyword(s)...
                                    </button>
                                </legend>
                                    <div style="overflow-y: scroll; max-height: 10em;">
                                    <ol id="olConcepts" style="list-style: circle;">
                                        <li>All</li>
                                    </ol>
                                </div>
                            </fieldset>
                            </div>
                            <div class="form-group" style="box-sizing: border-box;">
                                <fieldset>
                                <legend style="margin-bottom: 0.25em;">
                                        @*<button class="btn btn-primary btn-block" style="width: 90%; margin: 0 auto;" data-toggle="modal" data-target="#SelectServicesModal">Select Data Service(s)...</button>*@
                                    <button class="btn btn-primary btn-block" id="btnSelectDataServices" style="margin: 0 auto;" data-toggle="modal" data-target="#SelectServicesModal">Select Data Service(s)...</button>
                                </legend>
                                @*<div style="overflow-y: scroll; max-height: 10em;">*@
                                <div style="max-height: 10em;">
                                    <ol id="olServices" style="list-style: circle;">
                                        <li>All</li>
                                    </ol>
                                </div>
                            </fieldset>
                            </div>
                            <div id="SelectedDateRange">

                            </div>
                            <div class="form-group" style="box-sizing: border-box;">

                            <!-- For click handler see webclient.js $("#Search").submit(function (e) -->
                                <button type="submit" class="btn btn-success btn-block" style="margin: 0 auto;">Search Map</button><br />
                                <button id="btnSetDefaults" type="button" class="btn btn-warning btn-block" style="margin: 0 auto;">Reset</button>
                                @*<div style ="text-align: center; margin-top: 1em; ">
                                    <a href="http://www.github.com/cuahsi" target="_blank">Version 1.0</a>
                                </div>*@
                                </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="_row">
                <div class="map">
                    <div id="map-canvas">

                    </div>
                    <!--Streetview close button-->
                    <button id="StreetViewCloseButton" class="btn" style="display: none;">&times;</button>
                    <input id="pac-input" class="searchbarcontrols" type="text"
                           placeholder="Enter a location" />
                    <div id="type-selector" class="searchbarcontrols hidden">
                        <input type="radio" name="type" id="changetype-all" checked="checked">
                        <label for="changetype-all">All</label>

                        @*<input type="radio" name="type" id="changetype-establishment">
                            <label for="changetype-establishment">Establishments</label>

                            <input type="radio" name="type" id="changetype-address">
                            <label for="changetype-address">Addresses</label>*@

                        <input type="radio" name="type" id="changetype-geocode">
                        <label for="changetype-geocode">Geocodes</label>
                    </div>

                    @*<h1 id="home">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify ">
                                <i class="fa fa-bars"></i>
                            </a>

                        </h1>*@
                </div>

            </div>
        </div>
        <div class="tab-pane" id="graph">A timeseries viewer will be available soon!</div>
    </div>
</div>
@*</div>*@

<!-- Modal -->
<!-- Modal dialog for Download Manager... -->
<div class="modal fade" id="dmModal" tabindex="-1" role="dialog" aria-labelledby="dmModalLabel" aria-hidden="true" style="z-index: 2000000000000000;">
    <div class="modal-dialog modal-dialog-full" role="document">
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <label style="float:right; margin-right: 2em"><input type="checkbox" id="chkbxAutoDownload" checked="checked" />&nbsp;Auto Download Archives?</label>
                <h3 class="modal-title" id="myModalLabel">Download Manager</h3>
            </div>
            <div class="modal-body modal-body-full row">

                <table id="tblDownloadManagerHeaders" class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="display: none; vertical-align: middle;">Request ID</th>
                            <th class="text-center" style="width: 15%; vertical-align: middle;">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;">Task Id</label>
                            </th>
                            <th class="text-center" style="width: 25%; vertical-align: middle;">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;">Processing Status</label>
                            </th>
                            <th class="text-center" style="width: 40%; vertical-align: middle;">
                                <label class="btn" style="font-size: 1em; font-weight: bold; margin: 0 auto;">Time Series Archive</label>
                            </th>
                            <th class="text-center" style="width: 20%; vertical-align: middle !important;">
                                <input type="button" class="btn btn-primary text-center" id="btnDownloadAll" style="font-size: 1em; margin: 0 auto;" value="Download All Archives" />
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="div-table-content">
                    <!-- BCC - Try a dynamically sized font here...
             Source: http://stackoverflow.com/questions/14537611/bootstrap-responsive-text-size
        -->
                    @*<table id="tblDownloadManager" class="table table-hover table-fixed" style="font-size: 1.5vmin; margin: 0 auto;">*@
                    @*<table id="tblDownloadManager" class="table table-hover table-fixed" style="font-size: 2.0vmin;">*@
                    <table id="tblDownloadManager" class="table table-hover" style="font-size: 2.0vmin;">
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                @*<td>Footer text goes here</td>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                @*<p>This is the modal footer!!</p>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal dialog for Contact -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Contact</h3>
            </div>
            <div class="modal-body">

                <div style="margin-left: 2.0em;">
                    <address style="margin-top: 2.0em;">
                            <h4>Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)</h4><br />
                        Boston Office<br />
                        196 Boston Ave, Suite 3000<br />
                        Medford, MA 02155<br />
                        Phone: (339) 221-5400<br />
                        Fax: (781) 219-4029<br />
                    </address>

                    <address>
                            <strong>Support:</strong>   <a href="mailto:help@cuahsi.org">help@cuahsi.org</a><br /><br />
                            
                        @*    <a href="https://github.com/CUAHSI/HISWebClientIssues/issues" class="h5" target="_blank">Report a bug here!</a>*@
                        <a href="https://cuahsi.zendesk.com/hc/en-us/sections/201050037-HydroClient-data-cuahsi-org-" target="_blank">Need additional help<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
</address>
                       
                </div>
            </div>
            <div class="modal-footer">
                <!--p>This is the modal footer!!</p-->
            </div>
       </div>
    </div>
</div>

<!-- Modal dialog for About -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">About  <a href="http://www.github.com/cuahsi" target="_blank">(Version 1.0)</a></h3>
            </div>
            <div class="modal-body">

                <div style="margin-left: 2.0em;">


                    <h4>Distribution</h4>

                    <p>
                        HydroClient and all associated source code and documentation are available at the following URL: <a href="http://www.github.com/cuahsi">http://www.github.com/cuahsi</a>.  
                        HydroClient source code and documentation are provided free of charge under the Berkeley Software Distribution (BSD) license. 
                        Please see the following license information: Copyright (c) 2015, CUAHSI, All rights reserved.
                    </p>
                    <p>
                        Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
                    </p>
                        <ol style="list-style: decimal;">
                            <li>
                                Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. 
                            </li>
                            <li>
                                Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.                       
                            </li>
                            <li>
                                Neither the name of CUAHSI nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.   
                            </li>
                        </ol>
                    <p>
                        This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, 
                        the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright owner or contributors 
                        be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute 
                        goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict 
                        liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. 
                    </p>

                    <h4>
                        Disclaimer
                    </h4>
                    <p>
                        Although much effort has been expended in the development and testing of the HydroClient, errors and inadequacies may still occur. Users must make the final evaluation 
                        as to the usefulness of HydroClient for his or her application. HydroClient, CUAHSI HIS, and documentation are supported by National Science Foundation Grant Number EAR-1248152. 
                        Any opinions, findings, and conclusions or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of the National Science Foundation.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <!--p>This is the modal footer!!</p-->
            </div>
        </div>
    </div>
</div>


<!-- Modal dialog for Server Error... -->
<div class="modal fade" id="serverErrorModal" tabindex="-1" role="dialog" aria-labelledby="serverErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Server Error</h3>
            </div>
            <div class="modal-body">

                <div style="margin-left: 2.0em;">
                    <p>
                        An error has occured on the server - please re-submit your search criteria...
                    </p>
 
                </div>
            </div>
            <div class="modal-footer">
                <!--p>This is the modal footer!!</p-->
            </div>
        </div>
    </div>
</div>

<!-- Modal dialog for Full Keyword loading ...-->
<div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="keywordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>*@
                <h3 class="modal-title" id="myModalLabel">Loading Keywords...</h3>
            </div>
            <div class="modal-body">
                <div style="margin-left: 2.0em;">
                    <h2 class="text-center" style="display: inline; vertical-align: middle;">
                        <span id="glyphiconSpanPhysical" class="glyphicon glyphicon-refresh spin" style="color: #32cd32;"></span>
                    </h2>
                    <div id="textPhysical" class="text-center" style="display:inline-block; margin: 0em 0em 0em 1em; vertical-align: top;">Physical</div>
                    <br/>

                    <h2 class="text-center" style="display: inline; vertical-align: middle;">
                        <span id="glyphiconSpanChemical" class="glyphicon glyphicon-refresh spin" style="color: #32cd32;"></span>
                    </h2>
                    <div id="textChemical" class="text-center" style="display:inline-block; margin: 0em 0em 0em 1em; vertical-align: top;">Chemical</div>
                    <br />

                    <h2 class="text-center" style="display: inline; vertical-align: middle;">
                        <span id="glyphiconSpanBiological" class="glyphicon glyphicon-refresh spin" style="color: #32cd32;"></span>
                    </h2>
                    <div id="textBiological" class="text-center" style="display:inline-block; margin: 0em 0em 0em 1em; vertical-align: top;">Biological</div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <!--p>This is the modal footer!!</p-->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SelectDateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Please select your date range:</h3>
            </div>
            <div class="container">
                <form class="form-horizontal">
                    <div class="modal-body form-group">
                        <div class="modal-inputs">
                            <div id="grpStartDateModal" class="form-group">
                                <label id="lblStartDateModal" class="control-label col-sm-2" for="startDateModal">From</label>
                                <div class="col-sm-4">
                                    <input id="startDateModal" class="form-control modal-date-range" type="text"/>
                                </div>
                                <div class="col-sm-6">
                                    <label id="lblStartDateErrorModal" class="help-block" style="display: none;"></label>
                                </div>
                            </div>
                            <div id="grpEndDateModal" class="form-group">
                                <label id="lblEndDateModal" class="control-label col-sm-2" for="endDateModal">To</label>
                                <div class="col-sm-4">
                                    <input id="endDateModal" class="form-control modal-date-range" type="text"/>
                                </div>
                                <div class="col-sm-6">
                                    <label id="lblEndDateErrorModal" class="help-block" style="display: none;"></label>
                                </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer"><button type="button" id="btnDateRangeModalSave" class="btn btn-default btn-primary" data-dismiss="modal">Save</button></div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="SelectVariableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Please select your Keyword(s)</h3>
                <h6>(No selection searches all)</h6>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="tabbable">
                        <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Most Common</a></li>
                            <li><a href="#tab2" data-toggle="tab">Full List</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active"  id="tab1">
                                <div class="row">
                                    <div class="controls col-lg-5">
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Evaporation, actual" id="inlineCheckbox1" class="topCategories" />Actual Evaporation
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Temperature, Air" id="inlineCheckbox7" class="topCategories" />Air Temperature
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Discharge, stream" id="inlineCheckbox2" class="topCategories"/>Discharge
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Oxygen, dissolved" id="inlineCheckbox10" class="topCategories" />Dissolved Oxygen
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Groundwater Level" id="inlineCheckbox4" class="topCategories" />Groundwater Level
                                            </label>
                                            <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Nutrient" id="inlineCheckbox9" class="topCategories" />Nutrient
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="pH" id="inlineCheckbox11" class="topCategories" />pH
                                        </label>
                                        @*<label class="checkbox">
                                                <input type="checkbox" name="keywords" value="dissolved solids, total" id="inlineCheckbox5" class="topCategories"/> Total Dissolved Solids
                                        </label>
                                        <label class="checkbox">
                                                <input type="checkbox" name="keywords" value="Methane" id="inlineCheckbox6" class="topCategories"/> Methane
                                            </label>*@
                                    </div>
                                    <div class="controls col-lg-5">
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Precipitation" id="inlineCheckbox12" class="topCategories"/>Precipitation
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Snow Water Equivalent" id="inlineCheckbox14" class="topCategories"/>Snow Water Equivalent
                                        </label>
                                        <label class="checkbox">
                                            @*<input type="checkbox" name="keywords" value="Soil Moisture" id="inlineCheckbox15" class="topCategories"/>Soil Moisture*@
                                            <input type="checkbox" name="keywords" value="Water Content, Soil" id="inlineCheckbox15" class="topCategories" />Soil Moisture
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Specific Conductance" id="inlineCheckbox13" class="topCategories" />Specific Conductance
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Solids, total suspended" id="inlineCheckbox16" class="topCategories"/>Total Suspended Solids
                                        </label>
                                        @*<label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Water Level" id="inlineCheckbox3" class="topCategories" />Water Level
                                        </label>*@
                                        <label class="checkbox">
                                            <input type="checkbox" name="keywords" value="Temperature, water" id="inlineCheckbox8" class="topCategories" />Water Temperature
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnTopSelect" class="btn btn-default btn-primary" data-dismiss="modal">Save</button>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab2">
                                <p>
                                    <label>Filter:</label>
                                    <input name="search" placeholder="Filter...">
                                    <button id="btnResetSearch">&times;</button>
                                    <span id="matches"></span>
                                </p>
                                @*<p>
                                        <label for="hideMode">
                                            <input type="checkbox" id="hideMode">
                                            Hide unmatched nodes
                                        </label>
                                        <label for="leavesOnly">
                                            <input type="checkbox" id="leavesOnly">
                                            Leaves only
                                        </label>

                                        <label for="regex">
                                            <input type="checkbox" id="regex">
                                            Regular expression
                                        </label>
                                    </p>
                                    <p id="sampleButtons">
                                    </p>*@


                                <div id="tree" data-source="ajax" class="sampletree">


                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnHierarchySelect" class="btn btn-default btn-primary" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!-- Modal -->
<!--BCC - 26-Jun-2015 - Changes for QA Issue #23 - GUI: popup design do not unified -->
<div class="modal fade" id="SelectServicesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-full" role="document">
            <div class="modal-content modal-content-full">
                <div class="modal-header">
                    <button type="button" id="btnSaveServiceSelectionX" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Click to select Data Services</h3>
                    @*BCC - 02-Jul-2015 - Internal QA Issue #23 - Move 'Exclude Gridded data services...' checkbox to right *@
                    <div class="form-group" style="position: relative;">
                        <h6 style="display:inline-block; float: left;"> (No selection searches all)</h6>
                        <label for="checkOnlyObservedValues" style="float: right;">
                            <input type="checkbox" name="checkOnlyObservedValues" id="checkOnlyObservedValues" data-inline="true" /> Select all non-gridded data services.<a href="https://cuahsi.zendesk.com/hc/en-us/articles/209045187" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>
                    </div>
                </div>
                <div class="modal-body modal-body-full">
                    <table id="dtServices" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                @Html.Partial("_DatatableDataservicesColumns")
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                @Html.Partial("_DatatableDataservicesColumns")
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    @*BCC - 30-Jun-2015 - QA Issue #44 - Popup 'Click to select Data Services': 'Save' button is missed *@
                    <button type="button" id="saveServiceSelection" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
@*  BCC - 29-Jun-2015 - Remove 'fade' class from modal div to ensure firing of 'shown.bs.modal' event!!
    Source: http://stackoverflow.com/questions/18568278/bootstrap-3-0-0-modal-events-not-firing
    <div class="modal fade full-screen" id="SeriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*@
<div class="modal" id="SeriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-full" role="document">
        <div class="modal-content modal-content-full">
            <div class="modal-header modal-header-full">
                <button type="button" class="close" data-dismiss="modal" ariahidden="true">&times;</button>
                <!--button type="button" id="seriesModal-DM" style="float: right; margin-right: 2em; color: #428bca;"><span class="glyphicon glyphicon-cloud-download"></span> Download Manager</button -->
                <a href="" id="seriesModal-DM" data-toggle="modal" data-target="#dmModal" style="float: right; margin-right: 2em;"><span class="glyphicon glyphicon-cloud-download"></span> Download Manager</a>
                <h3 class="modal-title" id="myModalLabel">List of Timeseries in area</h3>
                <h5 style="margin-bottom: 1em;">To zip one or more data files, please click the associated table row(s) and then click the 'Process Selections' button.</h5>
            </div>
            <div class="modal-body modal-body-full">
            @* BCC- 23-Jul-2015 - To ensure the horizontal scroll bar appears in Apple Safari running under OS X, set 'max-width: none' on the table element!!
               NOTE: This 'more specific' setting overrides 'max-width: 100%' as set for the <table> element in bootstrap.css (line 1407)
               Source: http://stackoverflow.com/questions/30500857/overflow-xauto-not-working-in-safari-and-firefox
           *@
                <table id="dtMarkers" class="display disable-selection" cellspacing="0" style="max-width: none;">
                    <thead>
                        <tr>                           
                            @Html.Partial("_DatatableTimeseriesColumns")
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            @Html.Partial("_DatatableTimeseriesColumns")
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer modal-footer-full">
                @*<span>
                        @Html.ActionLink("Download as CSV", "downloadFile", "Export", new { id = 1 }, new { @class = "btn btn-info active pull-right", target = "_blank" })
                    </span>
                    <button id="DownloadAsCSV" type="button" class="btn btn-default">Download Selected as CSV</button>*@
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

@*<div id="context-menu">
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" id="DownloadAsCSV" href="#">Download as CSV</a></li>
            <li><a tabindex="-1" href="#">Add to DataCart</a></li>
        </ul>
    </div>*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

