<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        window.appInsights=window.appInsights||function(ai){
            function f(t){ai[t]=function(){var i=arguments;ai.queue.push(function(){ai[t].apply(ai,i)})}}
            var t=document,r="script",u=t.createElement(r),i;for(u.src=ai.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.10.js",t.getElementsByTagName(r)[0].parentNode.appendChild(u),ai.cookie=t.cookie,ai.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)f("track"+i.pop());
            return ai;
        }({
            iKey:"e9fb9d97-6526-4027-86e2-b82665b30aba"
        });

        appInsights.trackPageView();
    </script>
</head>
<body>               

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span><img src="~/Content/Images/cuahsi_logo_small.png" class="navbar-right" style="border:0px; vertical-align:top" /></span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              @*  @Html.ActionLink("HIS Web Client-BETA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand right" })*@
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
               @* @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="_container body-content">
        @RenderBody()
        @*<footer class="">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
