<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CUAHSI HIS HydroClient</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatablescdn")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancytree")
    @*NOTE: The Google Maps API MUST be downloaded directly from Goolge's Servers!!! See commends in BundleConfig.cs *@
    <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBv1tggGSW3-12h6vkbo8BL711KaUnG1w0&v=3.22&libraries=places,geometry"></script>
    @Scripts.Render("~/bundles/Google")
    @Scripts.Render("~/bundles/GoogleMapsGithubLibraries")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("styles", required: false)

    <script>
        $(document).ready(function () {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-32778374-7', 'auto');
            ga('send', 'pageview');

        });
    </script>

    <!-- Start of cuahsi Zendesk Widget script -->
    <script>
        $(document).ready(function () {
            /*<![CDATA[*/window.zEmbed || function (e, t) {
                //console.log('zendesk script runs...');
                var n, o, d, i, s, a = [],
                    r = document.createElement("iframe"); window.zEmbed = function ()
                    { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false",
                    r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none",
                    d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d),
                    i = r.contentWindow, s = i.document; try { o = s } catch (c) {
                        n = document.domain,
                            r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
                    } o.open()._l = function () {
                        var o = this.createElement("script"); n && (this.domain = n),
                            o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
                    }, o.write('<body onload="document._l();">'), o.close()
            }("//assets.zendesk.com/embeddable_framework/main.js", "cuahsi.zendesk.com");/*]]>*/
        });
    </script>
    <!-- End of cuahsi Zendesk Widget script -->

</head>
<!-- Inhibit scrollbar display in map area by Internet Explorer
     NOTE: DO NOT include oncontextmenu and onselectstart event attributes so to allow mouse right click and text selection on page
     Source: https://groups.google.com/forum/#!msg/google-maps-api/LQF9Y3-S3D0/SvUlNJtdTxYJ
    -->
<body scroll="no" marginwidth=0 marginheight=0 leftmargin=0 rightmargin=0 topmargin=0 bottommargin=0>

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
